body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.product {
    border: 3px solid;
    width: 800px;

    margin: auto;
    margin: 50px auto;
    position: relative;
}
.sale {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    background-color: red;
    color: white;
    top: -30px;
    left: -30px;
    padding: 7px 15px;
    letter-spacing: 2px;
}
.product-title{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(245 242 242);
    margin: 0;
    padding: 15px;
}
.price {
    font-weight: bold;
    font-size:20px;
}
.details-title {
    text-transform: uppercase;
   
}
.details-list {
    padding-left:20px;
    list-style: square;
}
.colors {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.color {
    width: 22px;
    height: 22px;
}
.red{
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}

.randon {
    background-color: #777;
}


button {
    background-color:black;
    color: white;
    font-weight: bold   ;
    text-transform: uppercase;
    border: none;
    width: 100%;
    padding: 15px;
    border-top: 4px solid black;;
}

button:hover{
    background-color: white;
    color: black;
}

.shipping{
    font-weight: bold;
    font-size:12px;
    text-transform: uppercase;
    color: #777;
}

.more-info:link, .more-info:visited{
    color: black;
}

.more-info:link:hover,.more-info:active {
    text-decoration: none;
}


/* .clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.product-img {
    float: left;
}

.order {
    float: left;
    width: 300px;
    padding-left: 35px;
    box-sizing: border-box;
}


.detail {
    float: left;
    width: 300px;
    padding-left: 35px;
    box-sizing: border-box;
}

.price {
    float: left;
}


.shipping {
    float: right;
    padding: 15px 7px;
    
}


.order-description {
    clear:both;
}
 */

/* setup layout with flexbox */
.container { 
    display: flex;
    gap:20px;
}

.order {
    flex:1;
}

.detail {
    flex: 1;
}
p.order-description {
    margin-top: 0;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

